.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 57px;
  height: auto;
}
.label {
  color: var(--senary-color);
  font-size: 13px;
  position: absolute;
  transition: 0.25s ease;
  transform: translateY(0.5rem);
  left: 8px;
}
.input {
  width: 100%;
  height: 35px;
  font-size: 15px;
  background: transparent;
  outline: none;
  padding: 0px 8px;
  color: var(--text-color);

  box-shadow: 2px 2px 0px 0px var(--box-shadow-color);
  border: 1px solid rgb(164, 164, 164);
}
.labelNotVoid {
  position: absolute;
  font-size: 12px;
  background-color: var(--primary-color);
  color: var(--text-color);
  transform: translateY(-0.6rem);
  padding: 0px 6px;
  left: 2px;
  transition: 0.5s ease;
}

.input:focus + label {
  font-size: 12px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  transform: translateY(-0.6rem);
  padding: 0px 6px;
  left: 2px;
}

.input:focus {
  border: 1px solid var(--tertiary-color);
  outline: 1px solid var(--tertiary-color);
  background-color: transparent;
  transition: 0.5s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(32, 32, 32);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(232, 212, 212, 0.8);
}

input:-webkit-autofill + label {
  font-size: 12px;
  background-color: var(--primary-color);
  color: var(--text-color);
  transform: translateY(-0.6rem);
  padding: 0px 6px;
  left: 2px;
}
/* ---- Error message ---- */
.errorMessage {
  padding-top: 5px;
  font-size: 11px;
  line-height: 16px;
  color: red;
  text-align: left;
}
.inputContainer {
  position: relative;
}
.error,
.check {
  position: absolute;
  top: 10px;
  right: 8px;
}
.error {
  color: red;
}
.check {
  color: rgb(50, 180, 50);
}
