/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */


/* :root { */
  /* ----Colors---- */
    /* Light */
  /* --main-bg-color: brown;
    --text-color: rgb(0,0,0);
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(186, 204, 255);
  --tertiary-color: rgb(188, 182, 255);
  --quaternary-color: rgb(249, 249, 251);
  --quinary-color: rgb(245, 245, 245);
  --senary-color: rgb(200, 200, 200);
  --box-shadow-color:rgba(0, 0, 0, 0.1); */
  /* Dark */ 
  /* --main-dark-bg-color: brown; 
  --text-dark-color:rgb(255, 255, 255);
  --primary-dark-color: brown;
  --secondary-dark-color: brown;
  --tertiary-dark-color: brown;
  --quaternary-dark-color: brown;
  --quinary-dark-color: brown;
  --shadow-color: brown; */

/* } */
/* body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
} */
