@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

/* ----Colors---- */
/* Light */
.bodyLight {
  --main-bg-color: rgb(233, 243, 243);
  --primary-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --box-shadow-color: rgb(0, 0, 0);
}
/* Dark */
.bodyDark {
  --main-bg-color: rgb(38, 0, 94);
  --primary-color: rgb(250, 250, 250);
  --text-color: rgb(250, 250, 250);
  --box-shadow-color: rgba(255, 255, 255, 0.7);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  min-height: 100vh;
  height: 100%;
  background-color: var(--main-bg-color);
}
.darkModeToggle {
  position: absolute;
  top: 30px;
  right: 30px;
}
.containerTicket {
  padding: 30px 100px 30px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.containerTicket h3 {
  color: var(--text-color);
  font-size: 26px;
  padding: 0px;
}
.containerTicket h3 span {
  font-weight: 800;
  text-transform: uppercase;
}
.succes {
  font-size: 60px;
  color: rgb(33, 191, 56);
}
.ticket {
  margin: 50px 10px;
  font-family: "Inconsolata", monospace;
  min-height: 500px;
  height: 100%;
  min-width: 280px;
  max-width: 300px;
  width: fit-content;
  display: grid;
  grid-template-rows: 2.2fr 1fr;
}
.containerIcon {
  height: 90px;
  width: 90px;
  position: relative;
}
.iconSuccess {
  transform: scale(0.5);
  transform-origin: bottom right;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* -----First column-----*/
.firstColumn {
  display: grid;
  padding: 15px 10px;
  background-image: url("../../Assets/worldwide.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
  grid-template-areas:
    "names"
    "cities"
    "details";
  border-radius: 10px;
  background-color: var(--primary-color);
  border: 1px solid #6a6a6a;
  border-bottom: 0px;
  box-shadow: 4px 4px 0px 0px var(--box-shadow-color);
}
.code {
  width: 60px;
  height: 100%;
  grid-area: code;
  background-image: url("../../Assets/ticket.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.userData {
  text-transform: uppercase;
  grid-area: names;
}
.userData p {
  display: inline-block;
  padding: 10px;
}
.userData p span {
  display: block;
}
.data {
  font-size: 14px;
  font-weight: 600;
  color: #989898;
}
.personalData {
  font-weight: 800;
  transform: scaleY(1.3);
}
.datesAndCity {
  grid-area: cities;
  text-align: center;
}
.datesAndCity p {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}
.plane {
  font-size: 20px;
  vertical-align: middle;
}
.datesAndCity .city {
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 28px;
  transform: scaleY(1.3);
}
.details {
  grid-area: details;
  padding: 0px 10px;
}

/* -----Second column-----*/
.secondColumn {
  color: #ffffff;
  background-color: rgb(137, 78, 219);
  border-radius: 10px;
  padding: 20px 10px;
  display: grid;
  text-transform: uppercase;
  grid-template-areas:
    "name name name place"
    "contact contact contact place"
    "dates dates dates place"
    "price price price place";
  border-radius: 10px;
  border: 1px solid #6a6a6a;
  border-top: 4px dotted #000000;
  border-bottom: 0px;
  box-shadow: 4px 4px 0px 0px var(--box-shadow-color);
}
.secondColumn p.data {
  color: #ffffff;
}
.infoNames {
  grid-area: name;
}
.infoContact {
  grid-area: contact;
}
.infoDates {
  grid-area: dates;
}
.price {
  grid-area: price;
  align-self: flex-end;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  transform: scaleX(0.85);
}

.cityResume {
  font-size: 12px;
  grid-area: place;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.cityResume .city {
  letter-spacing: 3px;
}
.cityResume .plane {
  font-size: 12px;
  padding: 10px 0px;
  transform: rotate(90deg);
}

/* ********************** DESKTOP ********************** */
@media screen and (min-width: 761px) {
  .containerTicket h3 {
    font-size: 26px;
    padding: 0px;
  }
  .containerTicket h3 span {
    font-weight: 800;
    text-transform: uppercase;
  }
  .succes {
    font-size: 60px;
    color: rgb(33, 191, 56);
  }
  .ticket {
    min-width: 700px;
    min-height: 300px;
    max-width: 850px;
    max-height: 450px;
    width: 100%;
    height: min-content;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
  }

  /* -----First column-----*/

  .firstColumn {
    background-size: 70%;
    background-position-x: 70%;
    border-right: none;
    grid-template-areas:
      "code names names names"
      "code cities cities cities"
      "code cities cities cities"
      "code details details details";
    border: 1px solid #6a6a6a;
    border-right: none;
  }
  .code {
    display: block;
  }
  .datesAndCity p {
    display: inline-block;
  }
  /* -----Second column-----*/
  .secondColumn {
    border: 1px solid #6a6a6a;
    border-left: 4px dotted #000000;
  }
}
